:root {
  /* ---------- CUSTOM PROPERTIES ---------- */
  --clr-neutral-100: #F5ECE0;
  --clr-green-300: #5A875B;
  --clr-green-400: #416242;
  --clr-purple-700: #624191;
  --clr-purple-900: #49306B;
  --clr-blue-400: #38AFBC;
  --gap-sm: 1em;
  --gap-med: 3em;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ---------- RESET ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya', serif;
  line-height: 1.2;
  font-weight: 400;
  color: var(--clr-purple-900);
  background-color: var(--clr-neutral-100);
}

img {
  display: block;
  max-width: 100%;
}

/* ---------- TYPOGRAPHY ---------- */

.site-title {
  font-size: clamp(1rem, 0.8333rem + 0.6667vw, 1.5rem);
}

.intro {
  font-weight: 600;
  text-align: center;
}

.location-title {
  font-family: 'Caprasimo', cursive;
  font-size: clamp(1.5rem, 1.1667rem + 1.3333vw, 2.5rem);
  margin: 0;
}

.place-details-location {
  color: var(--clr-green-400);
}

.place-details-location > .location {
  font-weight: 600;
}

.place-details-location-link {
  color: var(--clr-green-300);
  cursor: pointer;
}

.place-details-location-link:hover,
.place-details-location-link:focus {
  color: var(--clr-green-400);
}

.translation {
  font-size: clamp(1rem, 0.75rem + 1vw, 1.75rem);
  color: var(--clr-green-400);
}

.place-details-itinerary-details > p {
  font-size: clamp(1.1rem, 0.9667rem + 0.5333vw, 1.5rem);
  font-weight: 600;
}

/* ---------- LAYOUT ---------- */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
  padding: var(--gap-sm) 0;
  background-color: var(--clr-purple-900);
  color: var(--clr-neutral-100)
}

main {
  width: 70%;
  margin-inline: auto;
  padding: var(--gap-med) 0;
}

.intro-section {
  display: grid;
  grid-template: 
    "img text";
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-bottom: var(--gap-med);
  padding-bottom: var(--gap-med);
  border-bottom: .5rem solid var(--clr-green-300);
}

.intro-section-text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

article {
  display: grid;
  grid-template: 
    "img img place-details place-details place-details"; 
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: var(--gap-med);
  margin-bottom: 3.5em;
}

article > .photo {
  grid-area: img;
  object-fit: cover;
  border-radius: .5em;
  box-shadow: .25rem .5rem 1rem #49306B;
  transition: transform ease-in-out 1s;
}

article > .photo:hover {
  transform: scale(1.1);
}

article > .place-details {
  grid-area: place-details;
}

.place-details > div {
  margin-bottom: var(--gap-sm);
}

.place-details-location {
  display: flex;
  align-items: center;
  gap: .5em;
}

.place-details-itinerary-details {
  display: flex;
  gap: var(--gap-sm);
}

.personal-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5em;
}

/* ---------- COMPONENTS ---------- */

.logo {
  width: 1.75em;
}

.traveller {
  border-radius: 50%;
  box-shadow: .25rem .5rem 4rem #49306B;
}

.icon {
  width: 1.5em;
}

.photo {
  position: relative;
}

.flag {
  width: 2em;
  position: absolute;
  margin-left: -1.5em;
}

.intro-section {
  position: relative;
}

.world {
  width: 5em;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -2em;
  transform: translateY(-50%);
}


