:root {
  --clr-neutral-100: #F5ECE0;
  --clr-green-300: #5A875B;
  --clr-green-400: #416242;
  --clr-purple-900: #49306B;
  --clr-blue-400: #38AFBC;

  font-family: 'Alegreya', serif;
  /* font-family: 'Caprasimo', cursive; */
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--clr-neutral-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


